*{
    box-sizing: border-box;
}

.logo{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

}

.corpo{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.corpinho{    
    width: 1051px;
    height: auto;
    background-color: aqua;
    margin: auto;
    
    display: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.criarquizz{
    width: 100%;
    height: 180px;
    border: gray solid 3px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.alinharcriar{
    margin-top: 30px;
    display: column;
    justify-content: center;
    align-items: center;
}
.naocriou{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    margin-bottom: 1px;
}

.texto2{
    text-align: center;
}

.btcriarquizz{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EC362D;
    font-size: 21px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 20px;
}


.margem{
    height: 77px;
}
.palavras{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin-bottom: 10px;
    margin-left: 8px;
}
.quizes{
    display: column;
}
.dividindo{
    display: flex;
}
.quizz{
    margin-left: 8px;
    margin-bottom: 10px;
    width: 340px;
    height: 181px;
    display: flex;
}
.img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    
}

.titulo{
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;
}