*{
    box-sizing: border-box;
}

.logo{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

}

.corpo{
    background-color: bisque;
    display: column;
    justify-content: center;
    align-items: center;
}
.corpinho{    
    width: 1051px;
    height: 181px;
}