*{
    box-sizing: border-box;
}
.logo{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
.corpo{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: column;
    justify-content: center;
    align-items: center;
}
.corpinho{
    width: 1051px;
    height: auto;
}
.criarquizz{
    display: flex;
    justify-content: center;
    border: gray solid 3px;
    margin-top: 80px;
}
.alinharcriar{
    display: column;
    justify-content: center;
    align-items: center;
}
.naocriou{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

}